<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LookBook</title>
    <link rel="icon" type="image/png" href="/openbook.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
        integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<body>
    <!--navbar-->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" >
                <img src="/openbook.png">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href='/dashboard'>
                    Dashboard
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">


                        {{#if logged_in}}
                        <a class="button is-light" id='logout' href='/'>
                            Log Out
                        </a>
                        {{else}}
                        <a id="button" class="button is-primary">
                            <strong>Sign Up</strong>
                        </a>
                        <a class="button is-light" href='/'>
                            Log In
                        </a>
                        {{/if}}
                        
                    </div>
                </div>
            </div>
        </div>
    </nav>

   <!--handlebars goes here-->
    {{{body}}}

     <!--sign up modal-->
    <div id="myModal" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
            <div class="box">
                <p>Sign Up</p>
                <form class='signup-form'>
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" id='email-signup' type="email" placeholder="email" autofocus="">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" id='user-signup' type="username" placeholder="username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" id='password-signup' type="password" placeholder="Password">
                        </div>
                    </div>
                </form>
                <button class="button is-danger mt-2" type='submit'>Submit</button>
            </div>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <!--JS for Modal-->
    <script>
        class BulmaModal {
            constructor(selector) {
                this.elem = document.querySelector(selector)
                this.close_data()
            }

            show() {
                this.elem.classList.toggle('is-active')
                this.on_show()
            }

            close() {
                this.elem.classList.toggle('is-active')
                this.on_close()
            }

            close_data() {
                var modalClose = this.elem.querySelectorAll("[data-bulma-modal='close'], .modal-background")
                var that = this
                modalClose.forEach(function (e) {
                    e.addEventListener("click", function () {

                        that.elem.classList.toggle('is-active')

                        var event = new Event('modal:close')

                        that.elem.dispatchEvent(event);
                    })
                })
            }

            on_show() {
                var event = new Event('modal:show')

                this.elem.dispatchEvent(event);
            }

            on_close() {
                var event = new Event('modal:close')

                this.elem.dispatchEvent(event);
            }

            addEventListener(event, callback) {
                this.elem.addEventListener(event, callback)
            }
        }

        var btn = document.querySelector("#button")
        var mdl = new BulmaModal("#myModal")

        btn.addEventListener("click", function () {
            mdl.show()
        })

        mdl.addEventListener('modal:show', function () {
            console.log("opened")
        })

        mdl.addEventListener("modal:close", function () {
            console.log("closed")
        })
    </script>

{{#if logged_in}}
  <script src="/js/logout.js"></script>
   {{else}}
  <script src="./js/login.js"></script> 
{{/if}}



</body>

</html>